# Executables
*.out
*.exe

# For Project 1
*.swp
map.osm 
!map.osm 
*.o 
draw.cpp 
test.cpp 
build/ 
bin/ 
lib/ 
.github/workflows
# ignore Project 1 boilerplate repository
~/cppnd/1_project/CppND-Route-Planning-Project/
